Repository zopiya/homeup: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, template-check

lefthook.yml:

# ==============================================================================
# Lefthook Configuration - Git Hooks for Homeup
# ==============================================================================
# Install: lefthook install
# ==============================================================================

# Reduce output noise
skip_output:
  - meta
  - summary

# ------------------------------------------------------------------------------
# Pre-commit: Fast checks before commit
# ------------------------------------------------------------------------------
pre-commit:
  parallel: true
  commands:
    # Lint shell scripts
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}

    # Validate templates
    template-check:
      glob: "*.tmpl"
      run: |
        for file in {staged_files}; do
          if ! chezmoi execute-template < "$file" > /dev/null 2>&1; then
            echo "✗ Template syntax error: $file"
            exit 1
          fi
        done

    # Prevent secrets in non-template files
    no-secrets:
      run: |
        for file in {staged_files}; do
          # Skip templates and example files
          [[ "$file" =~ \.(tmpl|example)$ ]] && continue

          if grep -qiE "(password|secret|token|api[_-]?key)\s*=" "$file" 2>/dev/null; then
            echo "✗ Potential secret found: $file"
            echo "  If this is intentional, use a template or .example file"
            exit 1
          fi
        done

# ------------------------------------------------------------------------------
# Commit-msg: Validate commit message format
# ------------------------------------------------------------------------------
commit-msg:
  commands:
    format-check:
      run: |
        msg=$(cat {1})

        # Check subject line length
        subject=$(echo "$msg" | head -n1)
        if [ ${#subject} -gt 72 ]; then
          echo "✗ Commit subject too long (${#subject} > 72 chars)"
          exit 1
        fi

        # Check for empty message
        if [ -z "$(echo "$msg" | grep -v '^#' | tr -d '[:space:]')" ]; then
          echo "✗ Empty commit message"
          exit 1
        fi

# ------------------------------------------------------------------------------
# Pre-push: Comprehensive checks before push
# ------------------------------------------------------------------------------
pre-push:
  parallel: true
  commands:
    # Validate all templates
    validate-templates:
      run: |
        echo "Validating templates..."
        for profile in macos linux; do
          export HOMEUP_PROFILE=$profile
          if ! chezmoi init --source . --destination /tmp/chezmoi-validate-$profile --dry-run 2>/dev/null; then
            echo "✗ Template validation failed for profile: $profile"
            exit 1
          fi
        done
        echo "✓ All templates valid"

    # Lint all shell scripts
    lint-all:
      run: |
        if ! command -v shellcheck &>/dev/null; then
          echo "⚠ shellcheck not installed, skipping"
          exit 0
        fi
        echo "Linting shell scripts..."
        find . -name "*.sh" -type f ! -path "./.git/*" -exec shellcheck {} \;
        echo "✓ Lint passed"

refactor: clean up configuration files and improve readability
  dot_config/git/config.tmpl
  dot_config/nvim/lua/core/keymaps.lua
  dot_config/nvim/lua/core/options.lua
  dot_config/nvim/lua/plugins/init.lua
  dot_config/tmux/tmux.conf.tmpl
  dot_config/zsh/aliases.zsh
  dot_config/zsh/functions.zsh
  justfile
  packages/Brewfile.bootstrap
  packages/Brewfile.core
  packages/Brewfile.linux
  packages/Brewfile.macos
Due: template-check

feat: complete phase 1 project enhancement - add essential project metadata and documentation
  CHANGELOG.md
  LICENSE
  docs/00_快速导航指南.md
  docs/70_速查卡片.md
  packages/Brewfile.macos
Due: none

feat: complete phase 3 project enhancement - enhance troubleshooting and add security audit checklist
  docs/51_故障排查与常见问题.md
  docs/90_安全审计清单.md
Due: none

chore: remove obsolete files and update ignore patterns
  .chezmoiignore.tmpl
  CHANGELOG.md
  CONTRIBUTING.md
  VERSION
  VERSION_STRATEGY.md
Due: template-check

feat: auto-attach tmux on login, harden install-tools.sh, add CI drift check
  .github/workflows/verify-install-tools.yml
  dot_config/zsh/dot_zshrc
  packages/install-tools.sh
Due: shellcheck

feat: ops-focused tuning - tmux persistence, host-aware prompt, toolbelt
  .github/workflows/verify-install-tools.yml
  README.md
  dot_config/starship.toml
  dot_config/zsh/aliases.zsh
  dot_config/zsh/dot_zshrc
  justfile
  packages/apt-packages.txt
  packages/install-tools.sh
Due: shellcheck

fix(install-tools): harden install-tools.sh against drift, hangs, and bad archs
  packages/install-tools.sh
Due: shellcheck

fix(server-init): validate username, pubkey, and firewall port inputs
  packages/server-init.sh
Due: shellcheck

ci: fix missing git in checkout, add Debian/Ubuntu matrix
  .github/workflows/verify-install-tools.yml
Due: none

docs: update architecture caveat for install-tools.sh's new arch guard
  README.md
Due: none

feat: add install.sh, a curl-pipeable one-shot Day 1 bootstrap
  .chezmoiignore
  README.md
  install.sh
Due: shellcheck

feat(server-init): support non-interactive mode and grant passwordless sudo
  packages/server-init.sh
Due: shellcheck

feat: add root-install.sh, a root-to-working-shell one-liner
  install.sh
  root-install.sh
Due: shellcheck

docs: document root-install.sh and the /opt default location
  .chezmoiignore
  README.md
Due: none

docs: finalize public URL scheme (/init for root, /install for user)
  README.md
  install.sh
  root-install.sh
Due: shellcheck

chore: settle on get.zopiya.dev as the bootstrap subdomain
  install.sh
  root-install.sh
Due: shellcheck

docs: add Chinese README, fix broken link, settle domain prefix
  README.md
  README.zh-CN.md
Due: none

docs: document install.sh/root-install.sh in CLAUDE.md
  CLAUDE.md
Due: none

docs: rewrite README as a copy-paste cheat sheet, split docs by topic
  .chezmoi.toml.tmpl
  README.md
  README.zh-CN.md
  docs/architecture.md
  docs/commands.md
  docs/installation.md
  packages/server-init.sh
  root-install.sh
Due: shellcheck, template-check

refactor(scripts): reorganize into low-coupling scripts/ layout
  .chezmoiignore
  CLAUDE.md
  README.md
  README.zh-CN.md
  docs/architecture.md
  docs/commands.md
  docs/installation.md
  docs/linux-ops.md
  justfile
  packages/server-init.sh
  root-install.sh
  run_once_after_reload-gpg-agent.sh
  run_once_after_sheldon-lock.sh
  scripts/init.sh
  scripts/install.sh
  scripts/justfile
  scripts/packages/apt-packages.txt
  scripts/packages/install-tools.sh
  scripts/system/create-user.sh
  scripts/system/hostname.sh
  scripts/system/ssh-harden.sh
  scripts/system/timezone.sh
  scripts/system/ufw.sh
Due: shellcheck

fix(scripts): fix bootstrap-breaking bugs, make CLI output friendlier
  .editorconfig
  .github/workflows/verify-install-tools.yml
  docs/installation.md
  justfile
  scripts/init.sh
  scripts/install.sh
  scripts/justfile
  scripts/packages/apt-packages.txt
  scripts/packages/install-tools.sh
  scripts/system/create-user.sh
  scripts/system/hostname.sh
  scripts/system/ssh-harden.sh
  scripts/system/timezone.sh
  scripts/system/ufw.sh
Due: shellcheck

fix(dotfiles): stop chezmoi from managing ~/.ssh/authorized_keys
  .chezmoiignore
  private_dot_ssh/authorized_keys
Due: none

fix(scripts): reset RETURN trap in install-tools.sh's temp-dir cleanup
  scripts/packages/install-tools.sh
Due: shellcheck

fix(scripts): export ~/.local/bin PATH before install_minimal_tools runs
  scripts/install.sh
Due: shellcheck

feat(scripts): warn on unsupported Debian/Ubuntu versions
  CLAUDE.md
  docs/installation.md
  scripts/init.sh
  scripts/install.sh
Due: shellcheck

fix(packages): drop ollama/fava, fix fzf and locale for headless servers
  CLAUDE.md
  docs/architecture.md
  dot_config/zsh/exports.zsh
  scripts/packages/apt-packages.txt
  scripts/packages/install-tools.sh
Due: shellcheck

docs: lead quick-start with root login, not sudo -E bash
  CLAUDE.md
  README.md
  README.zh-CN.md
  docs/commands.md
Due: none

fix: point bootstrap at published repository
  scripts/bootstrap/entrypoint.sh
  scripts/init.sh
Due: shellcheck

perf: use x86 prebuilt Python runtime
  .github/workflows/image.yml
  .github/workflows/verify.yml
  containers/dev/Dockerfile
  docs/dev-environment-v1.md
  docs/installation.md
  scripts/bootstrap/language.sh
  scripts/bootstrap/lib.sh
  scripts/ci/update-toolchain.py
  scripts/ci/validate-lock.sh
  toolchain/lock.sh
Due: shellcheck

chore: pin published Dev Container image
  .devcontainer/devcontainer.json
  .github/workflows/image.yml
  docs/dev-environment-v1.md
Due: none

feat: bootstrap fresh hosts without Git
  .github/workflows/toolchain-update.yml
  .github/workflows/verify.yml
  CLAUDE.md
  README.md
  README.zh-CN.md
  docs/dev-environment-v1.md
  docs/installation.md
  scripts/bootstrap/doctor.sh
  scripts/bootstrap/entrypoint.sh
  scripts/bootstrap/user.sh
  scripts/ci/validate-lock.sh
  scripts/install.sh
  toolchain/lock.sh
Due: shellcheck

refactor(v1): remove legacy bootstrap paths
  .chezmoiignore
  CLAUDE.md
  README.md
  README.zh-CN.md
  cloud-init/homeup.yaml.tmpl
  docs/architecture.md
  docs/commands.md
  docs/dev-environment-v1.md
  docs/linux-ops.md
  docs/troubleshooting.md
  dot_config/zsh/path.zsh
  justfile
  scripts/bootstrap/user.sh
  scripts/init.sh
  scripts/install.sh
  scripts/justfile
  scripts/packages/apt-packages.txt
  scripts/packages/install-tools.sh
  scripts/system/create-user.sh
  scripts/system/hostname.sh
  scripts/system/ssh-harden.sh
  scripts/system/timezone.sh
  scripts/system/ufw.sh
Due: shellcheck, template-check

docs(v1): add operations manual
  README.md
  README.zh-CN.md
  docs/commands.md
  docs/dev-environment-v1.md
  docs/installation.md
  docs/operations.md
Due: none

chore(packages): document why build headers stay in base.apt
  packages/base.apt
Due: none

fix(ci): compare locked Python against its real upstream
  scripts/ci/check-toolchain-update.sh
Due: shellcheck

docs: rebuild docs as a Chinese-first architecture + usage guide set
  README.md
  README.zh-CN.md
  docs/architecture.md
  docs/commands.md
  docs/dev-environment-v1.md
  docs/installation.md
  docs/linux-ops.md
  docs/operations.md
  docs/troubleshooting.md
  docs/usage-guide.md
Due: none

refactor: drop v1 naming, unify project identity to homeup
  .devcontainer/devcontainer.json
  .github/workflows/image.yml
  .github/workflows/verify.yml
  CLAUDE.md
  README.md
  README.zh-CN.md
  cloud-init/homeup.yaml.tmpl
  containers/dev/Dockerfile
  docs/architecture.md
  docs/commands.md
  docs/contract.md
  docs/troubleshooting.md
  docs/usage-guide.md
  scripts/bootstrap/entrypoint.sh
  scripts/bootstrap/lib.sh
Due: shellcheck, template-check

style: trim redundant comments in project config files
  .chezmoi.toml.tmpl
  dot_config/lazygit/config.yml
  lefthook.yml
Due: template-check
